/* Variáveis CSS: Definimos cores globais para facilitar a manutenção */

:root {
    --cor-primaria:#0984e3;
    --cor-escura:#2d3436;
    --cor-fundo: #dfe6e9;
    --branco:#ffffff;
    --transicao: 0.3s ease;
}

/* RESET e BOX MODEL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* CONTAINERS: Limita a largura do conteúdo para não "espalhar" em monitores maiores  */
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

/* HEADER com FLEXBOX */
.main-header {
    background-color: var(--cor-escura)
    color: var(--branco)
    padding: 15px 0;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    aling-items: center;
}

.logo spam {
    color: var(--cor-primaria);
    font-weight: bold; 
}

.nav-menu ul {
    display: flex;
    list-style: none;       //Remove os "pontinhos" da lista
    gap: 20px;
}

.nav-menu a {
    color: var(--branco);
    text-decoration: none;
    transition: var(--transicao);   //Suaviza a mudança de cor (geralmente no hover)
}

.nav-menu a:hover {
    color: var(--cor-primaria);
}

/* HERO BANNER com Background */       //Parte principal da página
.hero-banner {
    height: 400px;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),     
    url("https://images.unsplash.com/photo-1542751371-adc38448a05e?q=80&w=1200") no-repeat center center/cover;                            
    //Background-size: cover faz a imagem preencher o texto verticalmente no banner
    display: flex;
    aling-items: center;
    color: var(--branco);
    text-aling: center; 
}

/* Grid de produtos e Cards (BOX MODEL) */
.titulo-secao {
    text-aling: center;
    margin: 40px 0;
    color: var(--cor-escura);
}

.grid-produtos {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin-bottom: 50px;
}

.card {
    background: var(--branco);
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    transtion: transform 0.3s ease;
}

/* Efeito de trazer para frente */
.card:hover {
    transform: translateY(-10px) slace(1.02);
    box-shadow: 0 15px 30px rgba(0,0,0,0.1)
}

.card-img `{
    height: 200px;
    background-size: cover;
    background-position: center;

}

.card-corpo {
    padding: 20px;
}

.card-corpo h3 {
    margin-bottom: var(--cor-primaria)
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.card-corpo button {
    width: 100%;
    padding: 10px;
    background: var(--cor-escura);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer
}

/* FOOTER */
.footer-simples {
    background: var( --cor-escura);
    color: var (--branco);
    text-aling: center;
    padding: 20px 0;
}

/* RESPONSAVIDADE */
@media (max-width 768px) {
    .hero-banner h1 {font-size: 1.8rem;}
    .card {width: 100%;}
}